#footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
body{
    background: rgba(241, 245, 4, 0.829);
}
h1{
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}
h4{
    color: navajowhite;
    font-style: italic;
}
#camera{
    width: 500px;
    height: 400px;
    border-color: black;
}
#resul1{
    width: 100px;
    padding: 20px;
    border: 10px;
    border-radius: 40px;
    box-shadow: 0 6px 8px 0 rgba(12, 12, 0, 0.829) ;
}
#resul2{
    width: 1px;
    padding: 20px;
    border: 10px;
    border-radius: 40px;
    box-shadow: 0 6px 8px 0 rgba(12, 12, 0, 0.829) ;
}
#resul3{
    width: 1px;
    padding: 20px;
    border: 10px;
    border-radius: 40px;
    box-shadow: 0 6px 8px 0 rgba(12, 12, 0, 0.829) ;
}
#result1:hover{
    border-radius: 200px;
}
#result2:hover{
    border-radius: 200px;
}
#result3:hover{
    border-radius: 200px;
}